.padre-desarrollo{
    margin: 0 auto;
    background-color: #272643;
    color: white;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text{
    margin: 0;
    padding-top: 16px;
}

.resultado{ 
    padding-bottom: 20px;
}

.lineas{
    width: 95%;
    max-width: 600px;
    height: 3px;
    background-color: #bae8e8;
}

.resultados-justos{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.resultado{
    font-size: 23px;
    background-color: white;
    width: 100px;
    height: 40px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: #272643;
    margin-bottom: 50px;

}
